#characteristicsPopUp {
    display: none;
    background-color: blueviolet;
    width: 50vw;
    height: 75vh;
    position: fixed;
    padding: 10px 15px;
    border-radius: 10px;
}

#phasesSpeed {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

#infoSup {
    height: 5vh;
    width: 13vw;
}

#characteristicsPopUp>footer {
    position: absolute;
    bottom: 10px;
    width: calc(100% - 30px);
}

#characteristicsPopUp>footer>button {
    height: 45px;
    width: 100%;
}